<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>アイトル~予約確認~</title>
  <!-- コメントアウトの書き方 -->
  <style>
    html, body {
        margin: 0 auto;
        height: 100%;
        background-color:#fff0f5;
      }
  </style>
</head>
<body>
<header>
    <h1>予約確認</h1>
</header>  
<!--<script src = reserveRoom.js></script>-->
 <!-- <div id='room' class='six-lounge'></div>-->
  <h1><%- results[0].name %></h1>
  <h2>を予約しました</h2>
<h3><!--<button  onclick="location.href='yoyaku'">予約画面に戻る</button>-->
  <a href=/>予約画面に戻る</a>
</h3>

</div>
</body>
</html>


　　