<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>アイトル~予約履歴~</title>
  <!-- コメントアウトの書き方 -->
  <style>
    html, body {
        margin: 0 auto;
        height: 100%;
        background-color:#fff0f5;
      }
  </style>
</head>
<body>
  <h1>予約履歴一覧</h1>
<header>
  
</header>  
<!--ここにあとでデータベース参照プログラム-->
  <ul>
    
  </ul>
<h3><button  onclick="location.href='yoyaku'">予約画面に戻る</button>
</h3>

</div>
</body>
</html>
