<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>アイトル~予約履歴~</title>
  <!-- コメントアウトの書き方 -->
  <style>
    html, body {
        margin: 0 auto;
        height: 100%;
        background-color:#fff0f5;
      }
    h1{
      font-size:200%
      color: #000000;
      text-align: center;
      margin: auto;
      padding: auto;
    }
    h2{
      font-size:150%
      color: #000000;
      text-align: center;
      margin: auto;
      padding: auto;
    }
    h3{
      font-size:100%
      color: #000000;
      text-align: center;
      margin: auto;
      padding: auto;
    }
  </style>
</head>
<body>
  <h1>予約履歴一覧</h1>
<header>
  
</header>  
<!--ここにあとでデータベース参照プログラム-->
  <ul>
    <% for(i=0;i<results.length;i++){ %>
      <h1><li><%- results[i].name %><a href=cancel/<%- results[i].id %>>キャンセルする</a></li></h1>
    <% } %>
  </ul>
<!-- h3><button  onclick="location.href='yoyaku'">予約画面に戻る</button>
</h3>-->
      <h3><!--<button  onclick="location.href='yoyaku'">予約画面に戻る</button>-->

      
<a href=/>予約画面に戻る</a>
</h3>

</div>
</body>
</html>
