.ClassReserveSystem
{
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
line-height:auto;
color:#03ab03;
left:108px;
top:193px;
position:absolute;
}
.aitoru
{
text-align:center;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
left:156px;
top:125px;
width:190px;
height:58px;
position:absolute;
line-height:auto;
color:#008000;
}
